data/
demos/.ipynb_checkpoints/
res/models_all
res/loader_all
res/.ipynb_checkpoints
.ipynb_checkpoints/
dataset_lists_unprocessed/
args.p
train and process dataset_lists.ipynb
accuracies/
logs/
saved_models/
losses/
