data/
demos/.ipynb_checkpoints/
res/models_all
res/loader_all
res/.ipynb_checkpoints
.ipynb_checkpoints/
dataset_lists_unprocessed/
args.p
train and process dataset_lists.ipynb
accuracies/
logs/
saved_models/
losses/
res/models/__pycache__/
res/loader/__pycache__/
res/loader/__pycache__/multi_attribute_loader_file_list.cpython-38.pyc
res/loader/__pycache__/multi_attribute_loader_file_list.cpython-38.pyc
